# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# Outputs
outputs/

# Checkpoints
checkpoints/*.pt
checkpoints/*.pth
checkpoints/*.ckpt

# NumPy
*.npy

# OS
.DS_Store
Thumbs.db